<!DOCTYPE html>
<html>
    <head>
        <title>What Are They Asking?!</title>
    </head>
    <body>
        <h1>Here are the questions being asked about your topic:</h1>
        <h2>Keyword Based Topics:</h2>
        <ul>
            {% for question in model.keyword_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h2>Interogatives:</h2>
        <h3>Who</h3>
        <ul>
            {% for question in model.who_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>What</h3>
        <ul>
            {% for question in model.what_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Where</h3>
        <ul>
            {% for question in model.where_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>When</h3>
        <ul>
            {% for question in model.when_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Why</h3>
        <ul>
            {% for question in model.why_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>How</h3>
        <ul>
            {% for question in model.how_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Which</h3>
        <ul>
            {% for question in model.which_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h2>Verbs:</h2>
        <h3>Are</h3>
        <ul>
            {% for question in model.are_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Is</h3>
        <ul>
            {% for question in model.is_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Will</h3>
        <ul>
            {% for question in model.will_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Can</h3>
        <ul>
            {% for question in model.can_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h2>Prepositions:</h2>
        <h3>Or</h3>
        <ul>
            {% for question in model.or_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>To</h3>
        <ul>
            {% for question in model.to_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>For</h3>
        <ul>
            {% for question in model.for_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>With</h3>
        <ul>
            {% for question in model.with_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Without</h3>
        <ul>
            {% for question in model.without_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Near</h3>
        <ul>
            {% for question in model.near_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h2>Comparisons:</h2>
        <h3>Like</h3>
        <ul>
            {% for question in model.like_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>And</h3>
        <ul>
            {% for question in model.and_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <h3>Versus</h3>
        <ul>
            {% for question in model.versus_topics %}
                <li>{{question}}?</li>
            {% endfor %}
            {% for question in model.vs_topics %}
                <li>{{question}}?</li>
            {% endfor %}
        </ul>
        <p>So, who's the fuckin' man now, Ali!?</p>
        <p>Don't like those questions? Try some other keywords, then.</p>
        <form action="{{ url_for("questions") }}" method="post">
                Keywords:<input type="text" name="keywords" value="">
                <br>
                <input type="submit" value="Get Questions!">
            </form>
    </body>
    <script>
    </script>
</html>